
/**  颜色  **/
$col-main: #FF7863;
$col-sec: #F08080;
$col-qlv: #F0FFF0;
$col-hui: #EAEAEA;

$bg-fen: #FFFCFC;
$bg-nav:#ffcccc;
$bg-foo:#FFD4D4;


/**  文字颜色  **/
$col-hr: #2F4F4F;

/**  渐变颜色  **/
$bg-grad:linear-gradient(to right, #FF7863, #FFB2B2);